.gambar {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  position:center;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  opacity: 0.2;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.gambar:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.gambar .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.gambar .btn:hover {
  background-color: black;
  color: white;
}


// override navbar styles
.nav li.dropdown ul.dropdown-menu {
  display: none;
  float:right;
  position: absolute;
  top: auto;
  margin-top: -1px;
}

.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nav li.dropdown ul.dropdown-menu ul.dropdown-menu {
  display: none;
  float:right;
  position: absolute;
  top: auto;
  margin-top: -30px;
}

.nav li.dropdown ul.dropdown-menu li:HOVER ul.dropdown-menu {
  display: block; 
  position: absolute; 
  left: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right:7px solid #CCC;
  border-right-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 9px;
  left: -14px;
}

.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-right:6px solid white;
  position: absolute;
  top: 10px;
  left: -12px;
}

.bold{
font-size: 16px;
font-weight: bold;
  }



